.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.add-edit-task-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.checkbox-container {
  margin: 15px 0;
}
