<mat-card>
  <div class="button-container">
    <button mat-raised-button (click)="addNewTask()" color="primary">
      Add new task
    </button>
  </div>
  <mat-card>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title</th>
        <td mat-cell *matCellDef="let task"> {{ task.title }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let task"> {{ task.description }}</td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created At</th>
        <td mat-cell *matCellDef="let task"> {{ task.createdAt | date }}</td>
      </ng-container>
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Completed</th>
        <td mat-cell *matCellDef="let task">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="updateCompleted(task)"
                        [checked]="task.completed"
                        [aria-label]="task.completed ? 'Mark as pending': 'Mark as completed'"
                        [disabled]="loading">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let task">
          <button mat-icon-button color="accent" aria-label="Edit task" (click)="editTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete task" (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</mat-card>
